<style>
header{
        background-color: hsl(0, 0%, 12%);
        color: hsl(0, 0%, 93%);
    }
</style>
<header>
<nav class="nav-bar" style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
        background-color: hsl(0, 0%, 12%);
        ">
        <h1>GOTH stack - GoTursoHtmx</h1>
        <ul style="display:flex; list-style:none;">
            <li style="padding:1em"><a style="text-decoration:none;" href="/">Home</a></li>
            <li style="padding:1em"><a style="text-decoration:none;" href="/about">About</a></li>   
        </ul>
</header>
